.tasks{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width:800px;
}
.taskContainer{
    width:150px;
    height:50px;
    border:2px solid black;
    padding: 15px;
    margin:2px;
}
.taskContainer2{
    width:150px;
    height:50px;
    border:2px solid black;
    padding: 15px;
    margin:2px;
    opacity: 0.2;
    
}
.taskEndedContainer{
    width:150px;
    height:50px;
    border:2px solid black;
    padding: 15px;
    margin:2px;
    opacity:0.2;
    
}